/*TAG SELECTORS*/

body{
  margin: 0;
  text-align: center;
  font-family: 'Taviraj', serif;
}

h1{
  color: white;
  margin: 50px 0 0 0;
  font-family: 'Kalam', cursive;
  font-size: 5.625rem;
}

h2{
  font-size: 2.5rem;
  font-family: 'Kalam', cursive;
}

/*CLASS SELECTORS*/

.flatIcon{
  height: 200px;
}

.top-container{
  background-color: #0F2C67;
  position: relative;
  margin: 0;
  padding: 100px;
}

.topParagraph{
  color: white;
}

.middle-container{
}

.bottom-container{
}

.bottomCloud{
  position: absolute;
}

.topCloud{
  position:absolute;
  right: 350px;
  top: 50px;
}

.mountain{
}

/*ID SELECTORS*/
